
.navbar
{
    margin-top: 14.5px;
    margin-right: 30px; 
display:flex;
justify-content: flex-end;
align-items: center;    
}
.navbar > p
{
    /* padding-left: 15px; */
padding-right: 15px;
font: 13px arial,sans-serif;
}
.navbar > p >a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);
}
.navbar > p > a:hover
{
    text-decoration: underline;
    color: rgba(0, 0, 0, 1);
}
.navbar img:nth-child(1)
{
    padding-left: 15px;
    padding-right: 15px;
    height: 30px;
    width: 30px;
}
#accountLogo
{
    margin-left: 15px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
}
.googleLogo
{
    margin-top: 36.5px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}
#googleLogo
{
    width: 272px;
    padding: 109px 0 0 ;
}
.googleLogo > input
{
    width: 554px;
    border:none ;
    border-radius: 25px;
    margin:25px auto 20px ;
    padding: 15px;
    margin: 15px;
    border:1px solid #eaeaea;
    font: 15px arial,sans-serif;    
    outline: none;  
}
.googleLogo > input:hover
{
    border-color: #a0a0a0 #b9b9b9 #b9b9b9 #b9b9b9;
}

.googleLogo > input:focus 
{
    border-color: #4d90fe;
}
.googleLogo > input:focus ~ span
{
    display: none;
}
span
{
    position: absolute;
    top: 307px;
    left: 900px;
    cursor: pointer;

}
span >img
{
    height: 24px;
    width:24px;
}
.buttons
{
    margin: 5px 0px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;  
}
.buttons button
{
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    margin: 0 5px;
    padding: 10px 15px; 
    font:14px arial,sans-serif; 
    /* font-weight: bold; */
    color: #757575;
    cursor: default;
}
.buttons  button:hover
{
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    background: #f8f8f8;
    border: 1px solid #c6c6c6;  
    color: #222;
}
.googleLogo > p
{
    margin-top: 10px;
    padding-top: 15px;
    font: 13px arial, sans-serif;  
}
.footer
{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 00, 0.54);
    background-color: #f2f2f2;
}
.footer1
{
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    font-size: 15px;
    border: 1px solid #e4e4e4;
}
.footer2
{
    color: #5F6368;
    font:13px arial;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 15px;
}
.footer2 ul li
{
    padding-left: 15px;
    display: inline;
}
ul a:hover
{
    text-decoration: underline;
}

.navbar > button
{
    cursor: default;
    border: 1px solid #4285f4;
    border-radius: 2px;
    background: -webkit-linear-gradient(top,#4387fd,#4683ea);
    text-decoration: none;
    color: white;
    font: 13px arial,sans-serif;
    font-weight: bold;
    padding: 5px 12px;
    margin-left: 10px;
}


.navbar >button:hover
{
    box-shadow:0 1px 0 rgba(0,0,0,.15);
}
